<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Neveria.Properties.Settings.NeveriaConnectionString"
            connectionString="Data Source=LAPTOP-ED3OPSO6\MIZTLI;Initial Catalog=Neveria;Persist Security Info=True;User ID=sa;Password=geovanni12"
            providerName="System.Data.SqlClient" />
        <add name="Neveria.Properties.Settings.NEVERIACconexion" connectionString="Data Source=LAPTOP-ED3OPSO6\MIZTLI;Initial Catalog=NEVERIAC;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Neveria.Properties.Settings.NEVERIACConnectionString"
            connectionString="Data Source=LAPTOP-ED3OPSO6\MIZTLI;Initial Catalog=NEVERIAC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>